{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "~": "./src",
          "@site": "./src/(site)",
          "@components": "./src/components"
        }
      }
    ]
  ]
}
